<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AccessId" value="YOUR_ACCESS_ID" />
    <add key="SecretKey" value="YOUR_ACCESS_KEY" />
    <add key="DemoTopicArn" value="YOUR_ARN" />
  </appSettings>
</configuration>